<% include ../partials/header %>

<main class="main-content">
    <section class="section">
        <div class="container">
            <div class="row">
            
                    <div class="col-md-8 col-xl-9">
                        <div class="card">
                            <img class="card-img-top" src="<%= campground.image %>" alt="Card image cap">
                            <div class="card-body">
                              <h5 class="card-title"><%= campground.name %></h5>
                              <p>Created by: <%= campground.author.username %></p>
                             
                              <p><%= campground.description %></p>
                              <% if(currentUser && campground.author.id.equals(currentUser._id)) { %>
                                    <a class="btn btn-sm btn-warning" href="/campgrounds/<%= campground._id %>/edit">Edit</a>
                                    <form action="/campgrounds/<%= campground._id %>?_method=DELETE" method="POST">
                                    <button class="btn btn-danger">Delete</button>
                                    </form>
                              <% } %>
                              <a class="btn btn-sm btn-success" href="/campgrounds/<%= campground._id %>/comments/new">Add Comment</a>

                            </div>
                        </div>
                        <div>
                                <% campground.comments.forEach(function(comment){%>
                                    <div class="card">
                                        <p>
                                            <%= comment.author.username %> - <%= comment.text %>
                                        </p>
                                    </div>
                                <%}) %>
    
                        </div>
                    </div>
                    <div class="col-md-4 col-xl-3">
                        <div class="sidebar px-4 py-md-0">
                            <h2>Yelp Camp</h2>
                            <hr>

                            <h6 class="sidebar-title">Created by: Peter Ayeni</h6>
                            <div class="row link-color-default fs-14 lh-24">
                            <div class="col-6"><a href="#">LinkedIn</a></div>
                            <div class="col-6"><a href="#">Github</a></div>
                            <div class="col-6"><a href="#">Twitter</a></div>
                          
                            </div>

                        </div>
                    </div>
            </div>
           
        </div>
    </section>
</main>
<% include ../partials/footer %>